#html { float: left }
#template { float: left;  }
br {clear: both; }
.options { font-size: 75% }

.CodeMirror {
  border: 2px solid #CCCCCC;
  overflow: hidden;
  font-size: 110%
}
#codemirrorspan {
  display: none
}
div.pretextoptions { min-height: 2.5em; position: relative }