
.xidelfeatures { list-style: none }
.xidelfeatures li { margin-bottom: 1em }
.xidelfeatures li li { margin-top: 0.3em; margin-bottom: 0em }

h2 { padding: 1em 5px 5px }
h2 div { background-color: #88EE88}
h2 div a { color: #330000;  }

.examples {style: list-type: none}
.examples li {margin-bottom: 1em}
.examples li ul {margin-top: 1em}
.downloadTable td { padding-right: 2em; padding-left: 2em; background-color: white }

dl dt { margin-top:8px; margin-bottom: 8px }

/* use css to show more news on hover */
#hiding-box .more {display: block}
#hiding-box:hover .more {display: none}
#hiding-box .hiddentext {display: none}
#hiding-box .less {display: none}
#hiding-box:hover .hiddentext {display: block}
#hiding-box-scripted .more, #hiding-box-scripted .less {cursor: pointer}

.more, .less {
	text-align: center;
	color: #7A0BB7;
}

img { max-width: 100% }

/*if it is to small it cuts of the sha256 in the table*/
.content { max-width: 70em }

ul.linklist { list-style-type: circle }
ul.linklist li { margin-bottom: 1em }